#### ACCESSING THE DATASET

In [260]:
import pandas as pd
import numpy as np

In [261]:
df = pd.read_csv('C:/Users/X1/Documents/Data Science/SCA/kaggle/HR_analytics/WA_Fn-UseC_-HR-Employee-Attrition.csv')

##### ASSESSING THE DATASET

* first we make a copy of the dataset which is what we will be working with

In [262]:
df_copy = df.copy()

In [263]:
df_copy.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

###### Issues

* The attribition should be boolean not string
* Business travel should be substringed using the _ as the separator
* The data is clean so there

###### The BusinessTravel column contains a prefix 'Travel_' which I want to remove before the travel frequency of each data

In [265]:
new = df_copy['BusinessTravel'].str.split("_", n = 1, expand = True)
df_copy['Travel'] = new[0]
df_copy['BusinessTravelFreq'] = new[1]

In [266]:
df_copy.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Travel,BusinessTravelFreq
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,0,8,0,1,6,4,0,5,Travel,Rarely
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,1,10,3,3,10,7,1,7,Travel,Frequently
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,0,7,3,3,0,0,0,0,Travel,Rarely
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,0,8,3,3,8,7,3,0,Travel,Frequently
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,1,6,3,3,2,2,2,2,Travel,Rarely

###### Dropping the Travel and BusinessTravel columns then renaming the BusinessTravelFreq to BusinessTravel

In [267]:
df_copy = df_copy.drop(['BusinessTravel', 'Travel'], axis=1)

In [268]:
df_copy.rename(columns = {'BusinessTravelFreq':'BusinessTravel'}, inplace = True)

In [269]:
df_copy.head()

,Age,Attrition,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel
0,41,Yes,1102,Sales,1,2,Life Sciences,1,1,2,...,80,0,8,0,1,6,4,0,5,Rarely
1,49,No,279,Research & Development,8,1,Life Sciences,1,2,3,...,80,1,10,3,3,10,7,1,7,Frequently
2,37,Yes,1373,Research & Development,2,2,Other,1,4,4,...,80,0,7,3,3,0,0,0,0,Rarely
3,33,No,1392,Research & Development,3,4,Life Sciences,1,5,4,...,80,0,8,3,3,8,7,3,0,Frequently
4,27,No,591,Research & Development,2,1,Medical,1,7,1,...,80,1,6,3,3,2,2,2,2,Rarely

##### Exporting the new dataset to a csv file for visualization and analysis using Tableau

In [270]:
df_copy.to_csv('staffAttrition.csv')

##### We want to select the columns that are relevant to our studies so we first inspect all the columns in the dataset

In [271]:
df_copy.columns

Index(['Age', 'Attrition', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'BusinessTravel'],
      dtype='object')

In [272]:
df_copy.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

# Building a classification for the Dataset

##### 1. Import Libraries

In [273]:
pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (0.24.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.18.4)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 21.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [274]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

##### Some of the data chosen in the features contain categorical values instead of numerical. These values must be converted to numerical values for use with our model trainers. I will apply Label Endocing and OneHot Encoding method to the data. The Label Encoding will be used for the Attrition column because the values in the column are either Yes or No so Yes can be 1 and No 0 but the other columns will use OneHot encoding

##### For the Label Encoding on Attrition column we have: Importing the Label Encoding and creating an instance of it

In [275]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [276]:
df_copy['Attrition_code'] = labelencoder.fit_transform(df_copy['Attrition'])
df_copy

,Age,Attrition,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel,Attrition_code
0,41,Yes,1102,Sales,1,2,Life Sciences,1,1,2,...,0,8,0,1,6,4,0,5,Rarely,1
1,49,No,279,Research & Development,8,1,Life Sciences,1,2,3,...,1,10,3,3,10,7,1,7,Frequently,0
2,37,Yes,1373,Research & Development,2,2,Other,1,4,4,...,0,7,3,3,0,0,0,0,Rarely,1
3,33,No,1392,Research & Development,3,4,Life Sciences,1,5,4,...,0,8,3,3,8,7,3,0,Frequently,0
4,27,No,591,Research & Development,2,1,Medical,1,7,1,...,1,6,3,3,2,2,2,2,Rarely,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,884,Research & Development,23,2,Medical,1,2061,3,...,1,17,3,3,5,2,0,3,Frequently,0
1466,39,No,613,Research & Development,6,1,Medical,1,2062,4,...,1,9,5,3,7,7,1,7,Rarely,0
1467,27,No,155,Research & Development,4,3,Life Sciences,1,2064,2,...,1,6,0,3,6,2,0,3,Rarely,0
1468,49,No,1023,Sales,2,3,Medical,1,2065,4,...,0,17,3,2,9,6,0,8,Frequently,0
1469,34,No,628,Research & Development,8,3,Medical,1,2068,2,...,0,6,3,4,4,3,1,2,Rarely,0

##### 2. Create the features, train and test datasets

In [277]:
feature_names = ['Age', 'Gender', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole']
X = df_copy[feature_names]

In [278]:
X.shape

(1470, 9)

In [279]:
Y = df_copy.Attrition_code

###### Splitting the data using the 80/20 ratio for train and test dataset respectively

In [280]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.80,test_size=0.20, random_state=0)

##### Implementing the OneHot encoding for the remaining label columns in the featured values

In [281]:
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
OHenc = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [282]:
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)
print(object_cols)

['Gender', 'MaritalStatus']

In [283]:
OH_cols_train = pd.DataFrame(OHenc.fit_transform(X_train[object_cols]))
OH_cols_test = pd.DataFrame(OHenc.transform(X_test[object_cols]))

##### One-hot encoding removed index; put it back

In [284]:
OH_cols_train.index = X_train.index
OH_cols_test.index = X_test.index

##### Remove categorical columns (will replace with one-hot encoding)

In [285]:
new_X_train = X_train.drop(object_cols, axis=1)
new_X_test = X_test.drop(object_cols, axis=1)

##### Add one-hot encoded columns to numerical features

In [286]:
OH_X_train = pd.concat([new_X_train, OH_cols_train], axis=1)
OH_X_test = pd.concat([new_X_test, OH_cols_test], axis=1)

##### Choosing what module to use as classifier

In [287]:
clr = RandomForestClassifier()

In [288]:
clr.fit(OH_X_train,Y_train)

RandomForestClassifier()

In [289]:
prediction = clr.predict(OH_X_test)

##### Let's calculate the model's accuracy

In [290]:
from sklearn.metrics import accuracy_score

In [291]:
accuracy = accuracy_score(Y_test, prediction)
accuracy

0.8299319727891157

##### Trying out another model in order to pursue a greater accuracy - Decision Tree

In [292]:
from sklearn.tree import DecisionTreeRegressor

In [293]:
dtReg = DecisionTreeRegressor()
dtReg.fit(OH_X_train,Y_train)

DecisionTreeRegressor()

In [294]:
DTprediction = dtReg.predict(OH_X_test)

##### Accuracy of the Decision Tree

In [295]:
DTaccuracy = accuracy_score(Y_test, DTprediction)
DTaccuracy

0.7585034013605442

##### We will try another model - Linear Regression

In [296]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(OH_X_train,Y_train)

LinearRegression()

In [297]:
LRprediction = linear_reg.predict(OH_X_test)

##### Evaluating the Linear Regression model

In [298]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

In [299]:
error = np.sqrt(mean_squared_error(Y_test, LRprediction))
error

0.35758980546227037

###### so for the prediction will be off by 0.35

##### Of all the three models used, the RandomForestClassifier has the highest accuracy of over 80% so we will adopt that as our model

##### Now we will save this model for further use using pickle which is a library that helps us achieve this

In [300]:
import pickle

In [301]:
pickle_output = open("RandomForestclassifier.pkl", mode = "wb") 
pickle.dump(clr, pickle_output) 
pickle_output.close()

##### Our new file is named RandomForestClassifier.pkl

### STREAMLIT

In [302]:
!pip install -q pyngrok

!pip install -q streamlit

!pip install -q streamlit_ace

WARNING: You are using pip version 19.2.3, however version 21.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
WARNING: You are using pip version 19.2.3, however version 21.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
WARNING: You are using pip version 19.2.3, however version 21.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [303]:
%%writefile app.py
 
import pickle
import streamlit as st
 
# loading the trained model
pickle_input = open('RandomForestclassifier.pkl', 'rb') 
classifier = pickle.load(pickle_input)
 
@st.cache()
  
# defining the function which will make the prediction using the data which the user inputs 
def prediction(Age, Gender, JobSatisfaction, MaritalStatus, MonthlyIncome, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole):   
 
    # Pre-processing user input    
    if Gender == "Male":
        Gender = 1
    else:
        Gender = 0
 
    if MaritalStatus == "Married":
        Married = 1
    else:
        Married = 0
  
 
    # Making predictions 
    prediction = classifier.predict( 
        [[Age, Gender, JobSatisfaction, MaritalStatus, MonthlyIncome, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole]])
     
    if prediction == 0:
        pred = 'No'
    else:
        pred = 'Yes'
    return pred
      
  
# this is the main function in which we define our webpage  
def main():       
    # front end elements of the web page 
    html_temp = """ 
    <div style ="background-color:yellow;padding:13px"> 
    <h1 style ="color:black;text-align:center;">Streamlit Loan Prediction ML App</h1> 
    </div> 
    """
      
    # display the front end aspect
    st.markdown(html_temp, unsafe_allow_html = True) 
      
    # following lines create boxes in which user can enter data required to make prediction
    Age = = st.number_input("Age")
    Gender = st.selectbox('Gender',("Male","Female"))
    JobSatisfaction = = st.number_input("Job Satisfcation on a scale of 1 to 4")
    MaritalStatus = st.selectbox('Marital Status',("Married","Single"))
    MonthlyIncome = st.number_input("Monthly Income")
    TrainingTimesLastYear = = st.number_input("Training Times last year")
    WorkLifeBalance = = st.number_input("Work life balance on a scale of 1 to 4")
    YearsAtCompany = = st.number_input("Years at company")
    YearsInCurrentRole = = st.number_input("Years in current role")
    result =""
      
    # when 'Predict' is clicked, make the prediction and store it 
    if st.button("Predict"): 
        result = prediction(Age, Gender, JobSatisfaction, MaritalStatus, MonthlyIncome, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole) 
        st.success('This answer is {}'.format(result))
        print(result)
     
if __name__=='__main__': 
    main()

Writing app.py

In [304]:
!streamlit run app.py &>/dev/null&

OSError: Background processes not supported.

In [305]:
from pyngrok import ngrok
 
public_url = ngrok.connect('8501')
public_url

In [306]:
import subprocess
server = subprocess.Popen(["python", "app.py", "runserver"])

t=2021-05-22T11:13:09+0100 lvl=eror msg="heartbeat timeout, terminating session" obj=csess id=3282dc851c2c clientid=b2f489e44e948b2c8c8629c960dec2a2