In [317]:
import pandas as pd
import numpy as np

In [328]:
df = pd.read_csv('C:/Users/X1/Documents/Data Science/SCA/kaggle/HR_analytics/WA_Fn-UseC_-HR-Employee-Attrition.csv')
df.Department.unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [283]:
df_copy = df.copy()

In [284]:
new = df_copy['BusinessTravel'].str.split("_", n = 1, expand = True)
df_copy['Travel'] = new[0]
df_copy['BusinessTravelFreq'] = new[1]

In [285]:
df_copy = df_copy.drop(['BusinessTravel', 'Travel'], axis=1)
df_copy.rename(columns = {'BusinessTravelFreq':'BusinessTravel'}, inplace = True)

In [286]:
df_copy.columns

Index(['Age', 'Attrition', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'BusinessTravel'],
      dtype='object')

In [198]:
df_copy.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [199]:
pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (0.24.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.18.4)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\x1\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 21.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [287]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [288]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [289]:
df_copy['Attrition_code'] = labelencoder.fit_transform(df_copy['Attrition'])
df_copy

,Age,Attrition,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel,Attrition_code
0,41,Yes,1102,Sales,1,2,Life Sciences,1,1,2,...,0,8,0,1,6,4,0,5,Rarely,1
1,49,No,279,Research & Development,8,1,Life Sciences,1,2,3,...,1,10,3,3,10,7,1,7,Frequently,0
2,37,Yes,1373,Research & Development,2,2,Other,1,4,4,...,0,7,3,3,0,0,0,0,Rarely,1
3,33,No,1392,Research & Development,3,4,Life Sciences,1,5,4,...,0,8,3,3,8,7,3,0,Frequently,0
4,27,No,591,Research & Development,2,1,Medical,1,7,1,...,1,6,3,3,2,2,2,2,Rarely,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,884,Research & Development,23,2,Medical,1,2061,3,...,1,17,3,3,5,2,0,3,Frequently,0
1466,39,No,613,Research & Development,6,1,Medical,1,2062,4,...,1,9,5,3,7,7,1,7,Rarely,0
1467,27,No,155,Research & Development,4,3,Life Sciences,1,2064,2,...,1,6,0,3,6,2,0,3,Rarely,0
1468,49,No,1023,Sales,2,3,Medical,1,2065,4,...,0,17,3,2,9,6,0,8,Frequently,0
1469,34,No,628,Research & Development,8,3,Medical,1,2068,2,...,0,6,3,4,4,3,1,2,Rarely,0

In [290]:
feature_names = ['Age', 'Department', 'Gender', 'MaritalStatus', 'EnvironmentSatisfaction', 'HourlyRate', 'JobSatisfaction', 'MonthlyIncome', 'PercentSalaryHike', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole']
X = df_copy[feature_names]

In [291]:
Y = df_copy.Attrition_code

In [292]:
X.shape

(1470, 14)

In [293]:
Y.shape

(1470,)

In [294]:
X.HourlyRate.unique()

array([ 94,  61,  92,  56,  40,  79,  81,  67,  44,  84,  49,  31,  93,
        50,  51,  80,  96,  78,  45,  82,  53,  83,  58,  72,  48,  42,
        41,  86,  97,  75,  33,  37,  73,  98,  36,  47,  71,  30,  43,
        99,  59,  95,  57,  76,  87,  66,  55,  32,  52,  70,  62,  64,
        63,  60, 100,  46,  39,  77,  35,  91,  54,  34,  90,  65,  88,
        85,  89,  68,  69,  74,  38], dtype=int64)

In [295]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.80,test_size=0.20, random_state=0)

##### Standardization

In [263]:
from sklearn.preprocessing import StandardScaler

In [264]:
scaler = StandardScaler()

In [296]:
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
OHenc = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [297]:
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)
print(object_cols)

['Department', 'Gender', 'MaritalStatus']

In [298]:
OH_cols_train = pd.DataFrame(OHenc.fit_transform(X_train[object_cols]))
OH_cols_test = pd.DataFrame(OHenc.transform(X_test[object_cols]))

In [299]:
# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_test.index = X_test.index

In [300]:
# Remove categorical columns (will replace with one-hot encoding)
new_X_train = X_train.drop(object_cols, axis=1)
new_X_test = X_test.drop(object_cols, axis=1)

In [301]:
# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([new_X_train, OH_cols_train], axis=1)
OH_X_test = pd.concat([new_X_test, OH_cols_test], axis=1)

In [302]:
OH_X_train.head()

,Age,EnvironmentSatisfaction,HourlyRate,JobSatisfaction,MonthlyIncome,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,0,1,2,3,4,5,6,7
1374,58,4,72,4,17875,13,29,2,2,1,0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1092,45,4,97,4,2132,20,8,3,3,5,4,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
768,40,3,74,1,8396,14,8,3,2,7,7,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
569,36,1,76,1,7587,15,10,1,3,10,7,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
911,25,3,73,4,1118,14,1,4,3,1,0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [303]:
OH_X_test.head()

,Age,EnvironmentSatisfaction,HourlyRate,JobSatisfaction,MonthlyIncome,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,0,1,2,3,4,5,6,7
442,36,2,32,4,9980,14,10,3,2,10,3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1091,33,4,44,2,4320,13,5,2,3,5,3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
981,35,4,67,3,4614,18,5,0,2,4,2,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
785,40,1,61,4,10322,20,14,6,3,11,10,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1332,29,4,73,4,2439,24,1,3,2,1,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [304]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

In [305]:
clr = RandomForestClassifier()

In [315]:
clr.fit(OH_X_train,Y_train)

RandomForestClassifier()

In [307]:
prediction = clr.predict(OH_X_test)

##### Checking the performance of the training set:

In [308]:
pred_train = clr.predict(OH_X_train)

In [309]:
X_train.head()

,Age,Department,Gender,MaritalStatus,EnvironmentSatisfaction,HourlyRate,JobSatisfaction,MonthlyIncome,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole
1374,58,Sales,Female,Married,4,72,4,17875,13,29,2,2,1,0
1092,45,Research & Development,Male,Married,4,97,4,2132,20,8,3,3,5,4
768,40,Sales,Male,Married,3,74,1,8396,14,8,3,2,7,7
569,36,Sales,Male,Single,1,76,1,7587,15,10,1,3,10,7
911,25,Sales,Male,Single,3,73,4,1118,14,1,4,3,1,0

In [310]:
Y_train.head()

1374    0
1092    0
768     0
569     0
911     1
Name: Attrition_code, dtype: int32

In [311]:
from sklearn.metrics import accuracy_score

In [312]:
accuracy = accuracy_score(Y_test, prediction)
accuracy

0.8163265306122449

In [314]:
accuracy_train = accuracy_score(Y_train, pred_train)
accuracy_train

1.0

In [255]:
error1 = np.sqrt(mean_squared_error(Y_test, prediction))
error1

0.420560041253707

##### Trying out another model in order to pursue a greater accuracy - Decision Tree

In [316]:
from sklearn.tree import DecisionTreeRegressor
clr2 = DecisionTreeRegressor()
clr2.fit(OH_X_train,Y_train)

DecisionTreeRegressor()

In [227]:
prediction2 = clr2.predict(OH_X_test)

In [228]:
accuracy2 = accuracy_score(Y_test, prediction2)
accuracy2

0.7517006802721088

In [229]:
error2 = np.sqrt(mean_squared_error(Y_test, prediction2))
error2

0.498296417534675

##### using a regression model - linear regression

In [230]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(OH_X_train,Y_train)

LinearRegression()

In [231]:
prediction3 = linear_reg.predict(OH_X_test)

In [232]:
error3 = np.sqrt(mean_squared_error(Y_test, prediction3))
error3

0.3534437300852843

##### This means that on the average, our model prediction is off by 0.353 which is little. The linear regression model appears to be the most accurate of all the models being used so I will perform all my operations based on this

##### To find the best model to use, I'll use the GridSearchCV (GridSearchCross)

In [183]:
from sklearn.model_selection import GridSearchCV
max_depth = [None, 2, 4, 6, 8, 10, 12]
parameters = {"max_depth": max_depth}
regressor = DecisionTreeRegressor(random_state = 0)
gs = GridSearchCV(regressor, parameters, scoring = 'neg_mean_squared_error')
gs.fit(OH_X_train,Y_train)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [184]:
regressor = gs.best_estimator_

In [185]:
regressor.fit(OH_X_train,Y_train)
gsPredict = regressor.predict(OH_X_test)
error = np.sqrt(mean_squared_error(Y_test, gsPredict))
error

0.37055341652180357

In [189]:
from sklearn.model_selection import GridSearchCV
max_depth = [None, 2, 4, 6, 8, 10, 12]
parameters = {"max_depth": max_depth}
regressor = RandomForestClassifier(random_state = 0)
gs = GridSearchCV(regressor, parameters, scoring = 'neg_mean_squared_error')
gs.fit(OH_X_train,Y_train)

GridSearchCV(estimator=RandomForestClassifier(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [190]:
regressor = gs.best_estimator_

In [191]:
regressor.fit(OH_X_train,Y_train)
gsPredict = regressor.predict(OH_X_test)
error = np.sqrt(mean_squared_error(Y_test, gsPredict))
error

0.420560041253707

##### saving the model

In [275]:
import pickle

In [ ]:
pickle_output = open("classifier.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()